/*font style*/
@font-face {
    font-family: 'MapoGoldenPier';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*structure*/
* {
    font-family: 'GmarketSansMedium';
}
header{
    width: 100%;
    margin: auto;
    position: relative;
}
header a{
    text-decoration: none;
    color: black;
}
#headerBtn{
    position: absolute;
    top: 0px;
    right: 15px;
    text-decoration: none;
}
.headerBtnStyle:hover{
    background-color: #9a7b6c;
}
nav ul{
    display: inline-block;
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline-block;
    list-style-type : none;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
main{
    width: 100%;
    margin: auto;
    position: relative;
}
#slideImg{
    width: 100%;
    height: 450px;
}
footer{
    width: 100%;
    position: relative;
    text-align: center;
}

/*responsive*/
/*스마트폰*/
@media screen and (max-width:  767px){
    body{
        background-color: white;
        width: 80%;
        margin : auto;
    }
    #logoImg{
        display : block;
        margin : 40px auto;
        width : 25%;
    }
    .headerBtnStyle{
        display: block;
        background-color: #CFB9AF;
        border: none;
        font-size: 7px;
        padding: 3px 5px;
        border-radius: 5px;
        margin: 2px auto;
    }
    nav ul{
        font-size: 11px;
    }
    nav ul li{
        margin: 2px 5px;
    }
    .title-font{
        text-align: center;
        font-size: 13px;
    }
    footer a{
        text-decoration: none;
        color: black;
        font-size: 15px;
        margin: 20px auto;
    }
    footer p{
        font-size: 8px;
    }
}
/*태블릿 pc*/
@media screen and (min-width:  768px) and (max-width: 959px){
    body{
        background-color: white;
        width: 80%;
        margin : auto;
    }
    #logoImg{
        display : block;
        margin : 40px auto;
        width : 25%;
    }
    #headerBtn{
        display: block;
    }
    .headerBtnStyle{
        background-color: #CFB9AF;
        border: none;
        font-size: 10px;
        padding: 5px 6px;
        border-radius: 5px;
        margin: 0px 3px;
        
    }
    footer a{
        text-decoration: none;
        color: black;
        font-size: 18px;
        margin: 20px auto;
    }
    footer p{
        font-size: 12px;
    }
    nav ul{
        font-size: 18px;
    }
    nav ul li{
        margin: 8px 12px;
    }
    .title-font{
        font-size: 20px;
        text-align: center;
    }
}
/*데스크탑*/
@media screen and (min-width:  960px){
    body{
        background-color: white;
        width: 80%;
        max-width: 1200px;
        margin : auto;
    }
    #logoImg{
        display : block;
        margin : 40px auto;
        height : 120px;
        width : 220px;
    }
    .headerBtnStyle{
        background-color: #CFB9AF;
        border: none;
        font-size: 12px;
        padding: 5px 10px;
        border-radius: 5px;
        margin: 0px 3px;
        
    }
    nav ul{
        font-size: 20px;
    }
    nav ul li{
        margin: 8px 12px;
    }
    .title-font{
        text-align: center;
        margin: 40px;
    }
    footer a{
        text-decoration: none;
        color: black;
        font-size: 20px;
        margin: 10px auto;
    }
    footer p{
        font-size: 15px;
    }
}