/*font style*/
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*structure*/
* {
    padding: 0;
    margin: 0;
    font-family: 'GmarketSansMedium';
}
hr{
    border: solid 1px #ebded4;
}
/*header*/
header{
    width: 100%;
    margin: auto;
    position: relative;
}
header a{
    text-decoration: none;
    color: black;
}
#logoImg{
    display : block;
    margin : 4em auto 2em auto;
    width : 25%;
}
#headerBtn{
    position: absolute;
    top: 0px;
    right: 15px;
    text-decoration: none;
}
.headerBtnStyle{
    background-color: #CFB9AF;
    border: none;
    font-size: 0.8em;
    width: 5em;
    height: 2em;
    border-radius: 5px;
    margin: 0.4em auto;
}
.headerBtnStyle:hover{
    background-color: #9a7b6c;
}
nav ul{
    display: inline-block;
    font-size: 1.3em;
}
nav ul li{
    display: inline-block;
    list-style-type : none;
    margin: 0.4em 0 0.4em 1.6em;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    color: #CFB9AF;
}
/*footer*/
footer{
    width: 100%;
    position: relative;
    text-align: center;
    margin: 3em 0;
}
footer a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    margin: 0 0.4em;
}
footer p{
    font-size: 1em;
}
/*기본적인 것들*/
.selectLinkColor{
    color: #9a7b6c;
    position: relative;
}
.selectLinkColor:after{
    content: '';
    display: block;
    width: 100%;
    height: 0.2em;
    position: absolute;
    margin: 0.3em 0;
    background-color: #9a7b6c;
}
.selectBtnColor{
    background-color: #9a7b6c;
}

/*responsive*/
/*스마트폰*/
@media screen and (max-width:  767px){
    body{
        background-color: white;
        width: 90%;
        margin : auto;
        font-size: 11px;
    }
    .headerBtnStyle{
        display: block;
    }
}
/*태블릿 pc*/
@media screen and (min-width:  768px) and (max-width: 959px){
    body{
        background-color: white;
        width: 80%;
        margin : auto;
        font-size: 14px;
    }
}
/*데스크탑*/
@media screen and (min-width:  960px){
    body{
        background-color: white;
        width: 80%;
        max-width: 1200px;
        margin : auto;
        font-size: 16px;
    }
}