/*main*/
main{
    width: 100%;
    margin: auto;
    position: relative;
}
#slideImg{
    width: 100%;
    aspect-ratio: 8/3;
}
.title-font{
    text-align: center;
    font-size: 1.5rem;
    margin: 3rem 0 1.5rem 0;
}
#recommendRecipe{
    width: 100%;
    overflow: auto;
    display: flex;
    justify-content: left;
    gap: 1rem;
    margin-bottom: 5rem;
}
.recommendImg{
    width: 20%;
}
#prContainer{
    background-color: #EBDED4;
    padding: 0.6rem;
    border-radius: 5px;
}