@charset "UTF-8";
html, body, h1, h2, h3, h4, h5, h6, section, header, aside, footer, nav, article, figure, fieldset, p, ul, ol, li, dl, dt, dd, form {
    margin: 0;padding: 0;
}
body {
    font: .8em Arial, sans-serif;
}
html {
    background: #dddddd
}
.mission_a h1 a {text-decoration: none;}
.mission_a h1 a:hover::after {
    content:'HTML5! CSS3! 실습입니다';
    font: .7em Helvetica sans-serif;
    color:#fff;

    position:absolute;
    display: block;
    margin-left: 120px;
    top: 0;
    padding: 10px;
    background: #222;
    border: 1px solid #555; 

    -webkit-border-radius: 8px;
    -ms-border-radius: 15px;
    border-radius: 30px;
    /* -moz-border-radius: 8px;
    -o-border-radius: 8px;
     */
    -webkit-box-shadow: #ddd 0 0 10px, #ccc 0 0px 5px inset;
    -ms-box-shadow: #d3d 0 0 10px, #ccc 0 0px 5px inset;
    box-shadow: #3d3 0 0 10px, #ccc 0 0px 5px inset;
    /* -moz-box-shadow: #ddd 0 0 10px, #ccc 0 0px 5px inset;
    -o-box-shadow: #ddd 0 0 10px, #ccc 0 0px 5px inset;
      */
}

.mission_b {
    position: relative;
    top: 10px; left: 10px;
    border: 1px solid #ccc;
    width: 70px; height: 70px;
    overflow: hidden;
}
mission_b img{
    /* opacity : .2; */
    -webkit-transition: opacity 2s ease-out;
    -moz-transition: opacity .3s ease-out;
    -ms-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
}
.mission_b img:hover{
    opacity: .3;
}

/* .mission_c li a {
    color: #000;
    font-size: 2em;
    font-weight: normal;
    display: block;
    height: 50px;
    margin: 10px 0;
    padding: 10px;
    text-decoration: none;

    width: 200px;
    -webkit-text-shadow :rgba(255,255,255,.5) 1px 1px 2px;
    text-shadow :rgba(255,255,255,.5) 1px 1px 2px;

} */
.mission_c li a { 
    color: #000; 
    font-size: 2em; 
    font-weight: normal; 
    display: block; 
    height: 50px; 
    margin: 10px 0; 
    padding: 10px; 
    text-decoration: none;

    width: 200px; 
    -webkit-text-shadow: rgba(255,255,255, .5) 1px 1px 2px; 
    -moz-text-shadow: rgba(255,255,255, .5) 1px 1px 2px; 
    -ms-text-shadow: rgba(255,255,255, .5) 1px 1px 2px; 
    -o-text-shadow: rgba(255,255,255, .5) 1px 1px 2px; 
    text-shadow: rgba(255,255,255, .5) 1px 1px 2px;
}
.mission_c li a:hover {
    color: #ffff00;
    text-shadow:rgba(0,0,0,.7) 1px 1px 2px;
    width: 230px;
    box-shadow: rgba(0,0,0,.3) 3px 3px 5px;
    
    transition: width .3s ease-out;
    background:rgba(153,0,204, .6);
}
