* { margin: 0; padding: 0;}
body {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
li { list-style-type: none;}
a { text-decoration: none;}
img { border: 0;}
table { border: 1px solid black; border-collapse: collapse;}